################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Seva.API/.vs/Seva.API/v15/Server/sqlite3
